.MiniDrawer-content-34 {
    margin-top: 35px !important;
}
label {
    font-size: 14px !important;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.MuiInputBase-root {
    outline: none;
}
.MuiInputBase-root:hover {
    outline: none;
}